<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>

    <header>
        
        
    </header>





</body>
</html>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .centered-div {
            width: 300px; 
            margin: 0 auto; 
            background-color: #f0f0f0; 
            padding: 20px; 
        }
    </style>
</head>
<body>

    <div class="centered-div">
        <!-- Content inside the centered div -->
        <h1 style="color:blue;">Page was never found!</h1>
        <p>Sorry, The page you're looking for was not found! 🥺</p>
        <p>&copy; {{year}} {{ website }}. All rights reserved.</p>
        
    </div>


</body>
</html>
