
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .centered-div {
            width: 300px; 
            margin: 0 auto; 
            background-color: #f0f0f0; 
            padding: 20px; 
        }
    </style>
</head>
<body>

    <div class="centered-div">
        <!-- Content inside the centered div -->
        <h1 style="color:blue;">The site is under maintanance!</h1>
        <p>We will soon return 🙂</p>
        <p> contact us: {{ contact }} </p>
    </div>

</body>
</html>
